.marker {
  height: 30px;
  width: 30px;
}

.popup {
  // overriding mapbox default styling
  max-width: none !important;

  h1 {
    font-size: small;
  }
}

.timeline {
  & button {
    margin: 10px;
  }
}
